.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0;
}

.grid.cards {
    grid-gap: 2rem;
}

.grid.cards > :is(ul, ol) {
    display: contents;
}

.grid.cards > :is(ul, ol) > li,
.grid.cards > .card {
    margin: 0;
    padding: 1rem;
    background-color: var(--md-default-bg-color);
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .5rem;
    transition: border .25s,box-shadow .25s;
}

.grid.cards > :is(ul, ol) > li:is(:focus-within, :hover),
.grid.cards > .card:is(:focus-within, :hover) {
    border-color: var(--md-accent-fg-color);
    box-shadow: var(--md-shadow-z2);
}

.grid.cards > :is(ul, ol) > li > :first-child,
.grid.cards > .card > :first-child {
    margin-top: 0;
}

.grid.cards > :is(ul, ol) > li > :last-child,
.grid.cards > .card > :last-child {
    margin-bottom: 0;
}

.grid.cards h2 {
    margin: 0;
    color: var(--md-accent-fg-color);
    font-weight: 700;
}
